version: '3.8'

services:
  backend:
    build: ./backend
    container_name: farming_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: farming_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
